{
	"uin": 机器人qq号,
	"password": "机器人qq密码",
	"encrypt_password": false,
	"password_encrypted": "",
	"enable_db": false,
	"access_token": "",
	"relogin": {
		"enabled": true,
		"relogin_delay": 3,
		"max_relogin_times": 5
	},
	"_rate_limit": {
		"enabled": false,
		"frequency": 1,
		"bucket_size": 1
	},
	"ignore_invalid_cqcode": false,
	"force_fragmented": false,
	"heartbeat_interval": 0,
	"http_config": {
		"enabled": true,
		"host": "127.0.0.1",
		"port": 5700,
		"timeout": 0,
		"post_urls": {}
	},
	"ws_config": {
		"enabled": false,
		"host": "127.0.0.1",
		"port": 8080
	},
	"ws_reverse_servers": [
		{
			"enabled": true,
			"reverse_url": "ws://127.0.0.1:8080/ws/",
			"reverse_api_url": "ws://127.0.0.1:8080/api/",
			"reverse_event_url": "ws://127.0.0.1:8080/event/",
			"reverse_reconnect_interval": 3000
		}
	],
	"post_message_format": "string",
	"debug": false,
	"log_level": "",
	"web_ui": {
		"enabled": false,
		"host": "0.0.0.0",
		"web_ui_port": 9999,
		"web_input": false
	}
